* {
	scroll-behavior: smooth;
}

.bg-navcolor {
	background-color: rgba(99,102,241);
}

.navbar-toggler {
	outline: none !important;
	border: none !important;
}

.navbar {
	padding-left: 100px !important;
	padding-right: 100px !important;
}
.first{
    margin-top: px !important;
    height: 36rem !important;

}
.link {
	font-size: 20s	px;
	color: #e7e4e6;
	text-decoration: none;
	height: 100%;
}

.link:hover {
    text-decoration: underline;
    text-decoration-line: overline;
    text-decoration-thickness: 3px;
    padding-top: 15px;
}